@import url(../css/fonts.css);

.header-nv {
    background-image:url(../img/header_bg.png);
}

.header-logo {
    margin-top: -13px;
}

.header-btn {
    border:none;
}

.header-menu {
    font-family: ProximaNova-BoldIt;
    font-size: 18pt;
}